@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ Hide Google Translate Bar */
.goog-te-banner-frame {
  display: none !important;
}
.skiptranslate {
  display: none !important;
}
body {
  top: 0 !important;
}
#goog-gt-tt {
  display: none !important;
}
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
